<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wav.boop">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
            android:allowBackup="true"
            android:theme="@style/AppThemeContrast"
            android:icon="@mipmap/boop"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/boop_round"
            android:supportsRtl="true"
        >
        <activity
            android:name="wav.boop.MainActivity"
            android:windowSoftInputMode="adjustPan"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>